*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body
{
    height: 100vh;
    background: yellow;
    background-size: cover;
    display: flex;
}

.header h1
{
    padding-left: 3%;
    padding-top: 4%;
    font-family: cursive;
    text-shadow: 2px 2px #FF0000;
}

.header
{
    padding-left: 3%;
    padding-top: 11%;
}

.header button
{
    padding: 16px 32px;
    background-color:lightpink;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px #FF0000;
    font-weight: 900;
    border-radius: 12px;
    color:navy;
}

.game-container
{
    width: 640px;
    margin: auto;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.cards-block
{
    width: 20%;
    height: 25%;
    position: relative;
    margin: 2px;
    transform-style: preserve-3d;
    transition: transform.5s;
}

/* we want to select the card block element that also has turn class */
.cards-block.turn
{
    transform: rotateY(180deg);
}

.cards-block :active
{
    transform: scale(.97);
}

.front-card, .back-card
{
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid rgb(12, 12, 11);
    backface-visibility: hidden;
}

.front-card
{
    transform: rotateY(180deg);
}

img
{
    width: 150px;
    height: 200px;
}

.democlass
{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.popup
{
    display: none;
}